
manifest {
    name = 'crukci-bioinformatics/ampliconseq'
    author = 'Matt Eldridge'
    homePage = 'https://github.com/crukci-bioinformatics/ampliconseq'
    description = 'Variant calling pipeline for amplicon sequencing data'
    mainScript = 'ampliconseq.nf'
    nextflowVersion = '>=20.10.0'
    version = '1.0-snapshot'
}

params {
    help                                     = false
    samples                                  = "${launchDir}/samples.csv"
    bamDir                                   = null
    amplicons                                = "${launchDir}/amplicons.csv"
    specificVariants                         = "${projectDir}/resources/specific_variants.csv"
    blacklistedVariants                      = "${projectDir}/resources/blacklisted_variants.csv"
    referenceGenomeFasta                     = "/reference_data/GRCh37.fa"
    vepAnnotation                            = false
    vepCacheDir                              = "/reference_data/vep_cache"
    vepSpecies                               = "homo_sapiens"
    vepAssembly                              = "GRCh37"
    vepPickOneAnnotationPerVariant           = true
    outputDir                                = "${launchDir}"
    maxDistanceFromAmpliconEnd               = 0
    requireBothEndsAnchored                  = true
    variantCaller                            = "VarDict"
    minimumAlleleFraction                    = 0.01
    maximumReadsPerAlignmentStart            = 2500
    minimumMappingQualityForPileup           = 1
    minimumBaseQualityForPileup              = 10
    minimumDepthForBackgroundNoise           = 100
    excludeHighestFractionForBackgroundNoise = 0.1
    maximumAlleleFractionForBackgroundNoise  = 0.03
    minimumNumberForFittingBackgroundNoise   = 10
    chunkSizeForFittingBackgroundNoise       = 500000
    readChunkSizeForFittingBackgroundNoise   = 100000
    sequenceContextLength                    = 5
    minimumDepthForHighConfidenceCalls       = 100
    jvmOverhead                              = 256
}

process {
    container = 'crukcibioinformatics/ampliconseq'

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }

    cpus = 1
    memory = 2.GB
    time = 2.hour
}

singularity {
    autoMounts = true
}

profiles {
    standard {
        process.executor = 'local'
        executor {
            cpus = 4
            memory = 8.GB
        }
    }

    bigserver {
        process.executor = 'local'
        executor {
            cpus = 40
            memory = 128.GB
        }
    }

    cluster {
        process.executor = 'slurm'
        executor {
            queueSize = 50
            pollInterval = 30.sec
            jobName = { "'$task.name'" }
        }
        singularity.enabled = true
    }
}

